html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.main-nav a {
  margin-right: 100px;
}

.DARK {
  background-color: #000;
  color: #FFF;
}

.DARK a {
  color: #FFF;
}